@media (max-width: 830px) {
  header {
    .info {
      display: none;
    }
    .nav {
      flex-direction: column;
      margin-bottom: 15px;
      .logo {
        margin: 10px 0;
        width: 20% !important;
      }
      li {
        margin: 0 30px;
      }
    }
  }

  #showcase {
    .showcase-content {
      margin: 0 20px;
    }
    p {
      padding: 10px 0;
    }
    button {
      margin-top: 30px;
    }
  }

  #about {
    .about-content {
      grid-template-columns: 1fr !important;
      gap: 0 !important;
      .about-item {
        margin: 20px 40px;
        text-align: center;
        img {
          width: 70%;
          margin-top: 20px;
        }
      }
      .team {
        padding-bottom: 70px;
      }
    }
  }

  .services-content {
    grid-template-columns: 1fr !important;
    .services-item {
      margin: 40px auto !important;
    }
  }
  #work h1 {
    padding: 50px 0 25px 0 !important;
  }
  .work-content {
    grid-template-columns: 1fr !important;
    .work-item {
      width: 90% !important;
      border-radius: 5px !important;
    }
  }

  .contact-content {
    height: 55vh !important;
    grid-template-columns: 1fr !important;
    .contact-item-info {
      display: none;
    }
    h1 {
      padding-top: 40px !important;
      font-size: 38px;
    }
    form {
      height: 70% !important;
    }
  }
}

@media (max-width: 420px) {
  header {
    .nav {
      li {
        margin: 0;
        a {
          font-size: 13px;
        }
      }
    }
  }
  #showcase {
    height: 80vh !important;
    h1 {
      font-size: 28px !important;
    }
    p {
      font-size: 16px !important;
    }
    button {
      margin-top: 30px;
    }
  }

  #about {
    height: 120vh !important;
    .about-content {
      margin: 0 0 50px !important;
      .about-item {
        img {
          width: 100%;
          margin-top: 20px !important;
        }
      }
    }
  }

  .services-content {
    margin-top: 60px;
  }

  .work-content {
    .work-item {
      width: 80% !important;
      margin: 10px auto 30px auto !important;
    }
  }

  #contact {
    .contact-content {
      height: 95vh !important;
    }
    .social {
      a {
        margin: 10px 0;
        padding: 20px 10px !important;
      }
    }
    .contact-item-form {
      p {
        padding-bottom: 20px !important;
      }
      form {
        height: 60% !important;
        select {
          width: 50% !important;
        }
      }
    }
  }

  footer {
    position: relative;
    bottom: 0;
    left: 0;
  }
}
